{% load static %}
<footer>
	<section class="footer">
		<div class="footer_brand-info">
			<h2>Мокрый Фасад ДВ</h3>
			<span class="footer_brand-info_сopyright">© 2018—2023 Строительная компания<br>«Мокрый Фасад ДВ»<br>
			sunha@yandex.ru<br><br></span>
			<span class="footer_brand-info_site-by">
				Сделано в <a href="https://taplink.cc/waergroup">WaerGroup</a>
			</span>

		</div>
		<div class="footer_block">
			<h3>Посетителям</h3>
			<a href="/" class="footer_block_link">Главная</a>
			<a href="/service" class="footer_block_link">Услуги</a>
			<a href="/portfolio" class="footer_block_link">Портфолио</a>
			<a href="/certificate" class="footer_block_link">Сертификаты</a>
			<a href="/contacts" class="footer_block_link">Контакты</a>
		</div>
		<div class="footer_block">
			<h3>Подробнее о нас</h3>
			<a href="/contacts" class="footer_block_link">Контакты</a>
			<a href="/contacts#about" class="footer_block_link">О нас</a>
			<a href="/contacts#job" class="footer_block_link">Трудоустройство</a>
		</div>
		<div class="footer_block">
			<h3>Информация</h3>
			<a href="/privacy" class="footer_block_link">Политика конфиденциальности</a>
			<a href="tel:+79941381855" class="footer_block_link">+7 (994) 138-18-55</a>
			<a href="tel:+79242205866" class="footer_block_link">+7 (924) 220-58-66</a>
			<a href="mailto:sunha@yandex.ru" class="footer_block_link">sunha@yandex.ru</a>
		</div>
	</section>
</footer>